@charset "utf-8";
//MY STUFF
.center {
  margin: auto;
  width: 100%;
  padding: 0;
}

.main-container{
  background-color: #f3f3f3;
  display: grid;
  grid-template-columns: 25% 75%;
  grid-template-areas: "filters map"
                        "restaurants map";
}

.filters{
  grid-area: filters;
  background-color: #3397DB;
  max-width: 420px;
  min-width: 300px;

}
.restaurants{
  grid-area: restaurants;
  max-width: 420px;
  min-width: 200px;
  overflow: auto;
  max-height: 600px;
}

.filter-options {
  width: 100%;
  margin-left: 10px;
}
.filter-options h2 {
  color: white;
  font-size: 20px;
}
.filter-options select {
  font-size: 16px;
  height: 2em;
  margin-bottom: 10px;
  width: 11em;
}

/* ====================== Restaurant Listing ====================== */
ul{
 margin-left:0px;
 padding: 0;
 border-bottom: 1px solid orange;
}
#restaurants-list li div{
  border-bottom: 1px solid orange;
}
#restaurants-list {
  background-color: #f3f3f3;
  list-style: none;
  margin: 0;
}

#restaurants-list .restaurant-img {
  max-width: 100%;
  min-height: 100%;
}

#restaurants-list li h2 {
  color: #f18200;
  font-family: Arial,sans-serif;
  font-size: 16pt;
  font-weight: 200;
  margin-left: 15px;
  text-transform: uppercase;
}
#restaurants-list p {
  margin-left: 15px;
  font-size: 12pt;
}
#restaurants-list li a {
  background-color: orange;
  color: #fff;
  display: inline-block;
  margin-left: 15px;
  margin-bottom: 15px;
  padding: 8px 30px 10px;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
}

@media only screen and (max-width: 885px) {
  .main-container {
      background-color: #f3f3f3;
      grid-template-columns: 100%;
      grid-template-areas:
      "filters"
      "map"
      "restaurants";
    }
    .map-container{
      height: 400px;
    }
    .filters{
      max-width: 100%;
    }
    .restaurants{
      max-width: 100%;
    }

    #restaurants-list .restaurant-img {
      max-width: 400px;
      float: left;
    }
    #restaurants-list li div{
      text-align: center;
      padding-top: 25px;
      height: 275px;
    }
}

@media only screen and (max-width: 650px) {
  #restaurants-list .restaurant-img {
    max-width: 100%;
    float: none;
  }

  #restaurants-list li div{
    text-align: left;
    padding-top: 0px;
    height: 100%;
  }
}
